.grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 40px;
}
.buttonWrap{
    text-align: center;
    padding: 2rem;
}
.card{
    width: 100% !important;
    height: 380px !important;
    cursor: pointer;
}